<h1><%= @article.title %></h1>

<p style="margin-top:15px;">
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<div style="margin-top:15px;border:1px solid black;padding:20px;">
  <%= @article.body.html_safe %>
</div><br/>

<h3>Comments (<%= @article.comments.size %>) </h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<% if logged_in? %>
  <p style="margin-top:15px;"><%= link_to "Edit", edit_article_path(@article) %></p>

  <p style="margin-top:15px;"><%= link_to "Delete", article_path(@article) , method: :delete, data: {confirm: "Really delete the article?"}
  %></p>
<% end %>

<h4><%= link_to "Back to Articles List", articles_path %></h4>