<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>
<table>
  <thead>
    <tr>
      <th width="25%">Username</th>
      <th width="30%">Email</th>
      <th width="45%" style="padding-left:15px;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td width="25%">
          <%= author.username %>
        </td>
        <td width="30%">
          <%= author.email %>
        </td>
        <td width="45%" style="padding-left:15px;">
          <%= link_to 'Show', author %>
            ||
          <%= link_to 'Edit', edit_author_path(author) %>
            ||
          <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

  <h4><%= link_to 'New Author', new_author_path %></h4>

<h4><%= link_to "Back to Articles List", articles_path %></h4>
